.card {
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 0 0.25rem 0.5rem white;
}

.over-flow-h {
  overflow: hidden;
}

.card-img-top {
  transition: all 0.5s;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.card-subtitle {
  color: var(--gold);
}