:root {
  --text-color: #ffffff;
  --gold: #ffd700;
}

.body {
  background-image: linear-gradient(to right, #3ea1db, #5d34ec);
}

.body__spinner--centrado{
  position: absolute;
  font-size: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  text-align: center;
  color: var(--text-color);
  padding: 1rem;
}

.footer {
  text-align: center;
  color: var(--text-color);
  padding: 1rem;
}